main{
    border-top: 1px solid #706e6e;
    width: 100%;
    margin: 50px 0;
    min-height: 700px;
}
main>div{
    margin: 30px 15%;
}
main>div>div:first-child{
    border-bottom: 1px solid #c7c5c5;
}
main>div>div:last-child{
    margin-top: 10px;
}
main>div div:last-child #mainLeft{
    width: 55%;
    display: block;
    margin-right: 20px;
    float: left;
}
#mainLeft #cacSP_tuongtu{
    margin-bottom: 20px;
}
#mainLeft .rowSP_tuongtu{
    margin-bottom: 5px;
}
#mainLeft .product{
    display: inline-block;
    margin-right: 2px;
}
#mainLeft .product:first-child{
    margin-left: 37px;
}
#mainLeft #binhluan{
    margin-bottom: 20px;

}
#mainLeft #binhluan span{
    color: red;
}
#binhluan #formBinhluan{
    border: 1px solid silver;
    background-color: #f1f1f1;
    padding: 5px 15px;
    margin-left: 34px;
    width: 1000px;
}
#binhluan #formBinhluan .row{
    margin-bottom: 10px;
}
#binhluan #formBinhluan label{
    display: inline-block;
    width: 140px;
}
#binhluan #formBinhluan input{
    width: 345px;
    height: 24px;
}
#binhluan #formBinhluan textarea{
    margin-top: 10px;
    margin-bottom: 0;
}
#binhluan #formBinhluan #cacBinhluan{
    border-top: 1px solid blue;
    padding-top: 20px;
}
#binhluan #formBinhluan #cacBinhluan .binhluan{
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}
#binhluan #formBinhluan #btnThembinhluan{
    background-color: rgb(47, 84, 186);
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
#binhluan #formBinhluan #fileList{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    display: none;
}
main>div div:last-child #mainRight{
    width: 40%;
    display: block;
    padding: 0 10px;
    float: right;
}
#mainRight>span:nth-child(1){
    font-weight: bold;
    font-size: 20px;
}
#mainRight>span:nth-child(2){
    color: red;
    font-weight: bold;
    font-size: 25px;
}
#mainRight>div:nth-child(3){
    margin-top: 10px;
}
#mainRight>div:nth-child(3) button{
    background-color: orangered;
    width: 100%;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 7px;
}
#mainRight #thongSoKyThuat div{
    clear: both;
}
#thongSoKyThuat .row{
    width: 100%;
    padding: 10px;
    line-height: 25px;
}
#thongSoKyThuat .row .colTitle{
    width: 40%;
    float: left;
}
#thongSoKyThuat .row .colContent{
    width: 60%;
    float: right;
}
footer{
    clear: both;
}